In [13]:
# ! pip install transformers

In [16]:
import numpy as np
import pandas as pd

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
import torch
from transformers import TrainingArguments, Trainer
from transformers import BertTokenizer, BertForSequenceClassification
from transformers import EarlyStoppingCallback

# Read the Data

In [8]:
train = pd.read_csv("si630w22-hw3-train.csv")
train

              id annotator_id  rating     group
0      t3_n27vu3      user_00     5.0  group_09
1      t3_n27vu3      user_01     5.0  group_09
2      t3_n27vu3      user_02     5.0  group_09
3      t3_n2az7m      user_00     5.0  group_09
4      t3_n2az7m      user_01     5.0  group_09
...          ...          ...     ...       ...
17840  t3_np0hd0      user_57     2.0  group_11
17841  t3_np0hd0      user_58     4.0  group_11
17842  t3_np0myc      user_56     1.0  group_11
17843  t3_np0myc      user_57     4.0  group_11
17844  t3_np0myc      user_58     2.0  group_11

[17845 rows x 4 columns]

In [9]:
dev = pd.read_csv("si630w22-hw3-dev.csv")
dev

             id annotator_id  rating     group
0     t3_n2xpm3      user_00     5.0  group_09
1     t3_n2xpm3      user_01     5.0  group_09
2     t3_n2xpm3      user_02     5.0  group_09
3     t3_n2yp4z      user_00     1.0  group_09
4     t3_n2yp4z      user_01     1.0  group_09
...         ...          ...     ...       ...
3805  t3_nozx1f      user_57     2.0  group_11
3806  t3_nozx1f      user_58     4.0  group_11
3807  t3_nozzuu      user_56     3.0  group_11
3808  t3_nozzuu      user_57     3.0  group_11
3809  t3_nozzuu      user_58     4.0  group_11

[3810 rows x 4 columns]

In [10]:
test = pd.read_csv("si630w22-hw3-test.public.csv")
test

             id annotator_id     group
0     t3_n2ooiu      user_00  group_09
1     t3_n2ooiu      user_01  group_09
2     t3_n2ooiu      user_02  group_09
3     t3_n2to6d      user_00  group_09
4     t3_n2to6d      user_01  group_09
...         ...          ...       ...
3816  t3_nozrho      user_57  group_11
3817  t3_nozrho      user_58  group_11
3818  t3_nozqov      user_56  group_11
3819  t3_nozqov      user_57  group_11
3820  t3_nozqov      user_58  group_11

[3821 rows x 3 columns]

# Train the Model (For testing)

In [15]:
# Define pretrained tokenizer and model
model_name = "bert-base-uncased"
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertForSequenceClassification.from_pretrained(model_name, num_labels=2)

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForSequenceClassification: ['cls.predictions.transform.LayerNorm.weight', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.bias', 'cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.bias']
- This IS expected if you are initializing BertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [17]:
tokenizer("hello world fuck you")

{'input_ids': [101, 7592, 2088, 6616, 2017, 102], 'token_type_ids': [0, 0, 0, 0, 0, 0], 'attention_mask': [1, 1, 1, 1, 1, 1]}